CH02/linuxkit-initrd.img
CH02/linuxkit-cmdline
CH02/linuxkit-kernel
CH02/linuxkit-state/
.vagrant
.vscode/
__pycache__/
.pytest_cache/
bin/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
